In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date
from pathlib import Path

In [2]:
data_path = Path(r"\\psc-data\E\Applications\Admissions\funnel")
#data_path = Path(r"X:\Applications\Admissions\funnel")

data_store = data_path / "data\stage_data"

#import local_db
#connection = local_db.connection()

In [3]:
#df = pd.read_hdf("data/stage_data", key="weekly")
df = pd.read_hdf(data_store, key="weekly")

In [4]:
start_term = "2017.Spring"

dump_stage = "Deposited"

In [5]:
df = df[(df["year_term"] > start_term)]
df = df[(df["stage"] == dump_stage)]

In [6]:
weeks = range(0, 54)
col_list=[f"{w:02d}" for w in weeks]
print(weeks)
print(col_list)

range(0, 54)
['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53']

In [7]:
df["stage_sum"] = df[col_list].sum(axis=1)
df = df[(df["stage_sum"] > 0)]

In [8]:
print(df.shape)
df.head()

(1175, 59)

,year_term,stage,PEOPLE_CODE_ID,00,01,02,03,04,05,06,...,46,47,48,49,50,51,52,53,curriculum,stage_sum
42337,2018.Fall,Deposited,P000026021,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,FEFM,32
42344,2018.Fall,Deposited,P000045865,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,NRCM,22
42345,2018.Fall,Deposited,P000045910,0,0,0,0,0,0,0,...,0,0,1,1,1,1,0,0,NaN,4
42346,2018.Fall,Deposited,P000047104,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,MNGTS,20
42347,2018.Fall,Deposited,P000047242,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,PSYCH,32

In [9]:
summary = df.loc[
    ((df["year_term"] > start_term) & (df["stage"] == dump_stage)),
    ["year_term", "stage", "PEOPLE_CODE_ID"]
].groupby(["year_term", "stage"]).count()
summary

                       PEOPLE_CODE_ID
year_term   stage
2018.Fall   Deposited             272
2018.Spring Deposited              24
2019.Fall   Deposited             281
2019.Spring Deposited              17
2020.Fall   Deposited             258
2020.Spring Deposited              33
2021.Fall   Deposited             242
2021.Spring Deposited              48

In [10]:
today = datetime.now().strftime("%Y%m%d")
print(today)
writer = pd.ExcelWriter(
    f"PowerCampus_{dump_stage}_2018-2021_{today}.xlsx"
)

20210422

In [11]:
df.to_excel(writer, "data", index=False)

In [12]:
summary.to_excel(writer, "summary", index=True)

In [13]:
writer.save()