In [1]:
from IPython import __version__ as ipython_version
from pandas import __version__ as pandas_version
from bokeh import __version__ as bokeh_version
print(f'IPython - {ipython_version}')
print(f'Pandas - {pandas_version}')
print(f'Bokeh - {bokeh_version}')

IPython - 6.1.0
Pandas - 0.22.0
Bokeh - 0.12.14

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, date

<H2>Stage Ranking codes</H2>

In [3]:
# read VWSTAGERANKING.csv and drop unused fields
stgrnk = pd.read_csv('VWSTAGERANKING.csv')
stgrnk.drop(['code_table', 'MEDIUM_DESC',
             'Converted/Confirmed/Accepted/Require SepDate'],
            inplace=True, axis=1)

In [ ]:
print('stgrnk', stgrnk.shape)

In [ ]:
print('stgrnk\n', stgrnk.dtypes)

In [ ]:
print(stgrnk.columns)

In [ ]:
stgrnk

<H2>Stage History data</H2>

In [4]:
# read STAGEHISTORY.csv
stg_hist_dtype = {'PEOPLE_CODE_ID': str, 'ACADEMIC_YEAR': str,
                  'ACADEMIC_TERM': str, 'ACADEMIC_SESSION': str,
                  'FIELD_ID': np.int64}
date_cols = ['FIELD_DATE']
stg_hist = pd.read_csv('STAGEHISTORY.csv', dtype=stg_hist_dtype,
                       parse_dates=date_cols,
                       usecols=['PEOPLE_CODE_ID', 'ACADEMIC_YEAR',
                                'ACADEMIC_TERM', 'ACADEMIC_SESSION',
                                'FIELD_ID', 'FIELD_DATE'])

In [ ]:
print('stg_hist', stg_hist.shape)

In [ ]:
print('stg_hist')
print(stg_hist.dtypes)

In [5]:
stg_hist['create_date'] = stg_hist['FIELD_DATE']

In [6]:
stage_data = pd.merge(stg_hist, stgrnk, left_on=['FIELD_ID'],
                      right_on=['STAGERANKING_ID'], how='left')

In [7]:
keep_fields = ['PEOPLE_CODE_ID', 'ACADEMIC_YEAR', 'ACADEMIC_TERM',
               'ACADEMIC_SESSION', 'field_name', 'field_value', 'create_date']
stage_data = stage_data.loc[~stage_data['create_date'].isnull(), keep_fields]

In [ ]:
print('stage_data', stage_data.shape)

In [ ]:
print('stage_data')
print(stage_data.dtypes)
stage_data.head()

<H2>Academic Data</H2>

In [8]:
academic_dtype = {'PEOPLE_CODE_ID': str, 'ACADEMIC_YEAR': str,
                  'ACADEMIC_TERM': str, 'ACADEMIC_SESSION': str,
                  'APPLICATION_FLAG': str, 'APP_STATUS': str}
date_cols = ['APPLICATION_DATE', 'APP_STATUS_DATE', 'APP_DECISION_DATE']
academic = pd.read_csv('ACADEMIC.csv', dtype=academic_dtype,
                       parse_dates=date_cols,
                       usecols=['PEOPLE_CODE_ID',
                                'ACADEMIC_YEAR', 'ACADEMIC_TERM',
                                'ACADEMIC_SESSION', 'POPULATION',
                                'INQUIRY_FLAG',
                                'APPLICATION_FLAG', 'APPLICATION_DATE',
                                'APP_STATUS', 'APP_STATUS_DATE',
                                'APP_DECISION', 'APP_DECISION_DATE'])

In [ ]:
print('academic', academic.shape)
print('academic')
print(academic.dtypes)
academic.info()

In [ ]:
print(academic['POPULATION'].value_counts().sort_index())
print(academic['POPULATION'].value_counts().sum())

In [9]:
app_data = (academic.loc[~(academic['POPULATION'].isin(['ADVSTU', 'NOND'])) &
                         ((academic['INQUIRY_FLAG'] == 'Y') |
                          (academic['APPLICATION_FLAG'] == 'Y'))]
            )

print('app_data', app_data.shape)
print('app_data')
print(app_data.dtypes)

app_data (42151, 12)
app_data
PEOPLE_CODE_ID               object
ACADEMIC_YEAR                object
ACADEMIC_TERM                object
ACADEMIC_SESSION             object
POPULATION                   object
APPLICATION_FLAG             object
APP_STATUS                   object
APP_STATUS_DATE      datetime64[ns]
APP_DECISION                 object
APP_DECISION_DATE    datetime64[ns]
INQUIRY_FLAG                 object
APPLICATION_DATE     datetime64[ns]
dtype: object

In [ ]:
app_data.info()

In [10]:
applied = (app_data[app_data['APP_STATUS'].notnull()]
           .rename(columns={'APP_STATUS': 'field_value'})
           .rename(columns={'APP_STATUS_DATE': 'create_date'})
           )
applied.loc[:, 'field_name'] = 'Application Status'
applied = applied.loc[~applied['create_date'].isnull(), keep_fields]

print('applied', applied.shape)
print('applied')
print(applied.dtypes)

applied (14387, 7)
applied
PEOPLE_CODE_ID              object
ACADEMIC_YEAR               object
ACADEMIC_TERM               object
ACADEMIC_SESSION            object
field_name                  object
field_value                 object
create_date         datetime64[ns]
dtype: object

In [ ]:
applied.info()

In [11]:
accepted = (app_data[app_data['APP_DECISION'].notnull()]
            .rename(columns={'APP_DECISION': 'field_value'})
            .rename(columns={'APP_DECISION_DATE': 'create_date'})
            )
accepted.loc[:, 'field_name'] = 'Application Decision'
accepted = accepted.loc[~accepted['create_date'].isnull(), keep_fields]


print('accepted', accepted.shape)
print('accepted')
print(accepted.dtypes)

accepted (14290, 7)
accepted
PEOPLE_CODE_ID              object
ACADEMIC_YEAR               object
ACADEMIC_TERM               object
ACADEMIC_SESSION            object
field_name                  object
field_value                 object
create_date         datetime64[ns]
dtype: object

In [ ]:
accepted.info()

In [12]:
# stack Stage History, Academic Applied and Academic Accepted
adm_df = stage_data.append(applied).append(accepted)

print('adm_df', adm_df.shape)
print('adm_df')
print(adm_df.dtypes)

adm_df (308512, 7)
adm_df
PEOPLE_CODE_ID              object
ACADEMIC_YEAR               object
ACADEMIC_TERM               object
ACADEMIC_SESSION            object
field_name                  object
field_value                 object
create_date         datetime64[ns]
dtype: object

In [ ]:
adm_df.head()

In [ ]:
adm_df.info()

In [13]:
adm_df = (adm_df.loc[(adm_df['ACADEMIC_TERM'].isin(['FALL', 'SPRING'])) &
                     (adm_df['ACADEMIC_SESSION'] == 'MAIN')]
         )

print('adm_df', adm_df.shape)
print('adm_df')
print(adm_df.dtypes)

adm_df (169029, 7)
adm_df
PEOPLE_CODE_ID              object
ACADEMIC_YEAR               object
ACADEMIC_TERM               object
ACADEMIC_SESSION            object
field_name                  object
field_value                 object
create_date         datetime64[ns]
dtype: object

In [14]:
# create new fields
adm_df['year_term'] = (adm_df['ACADEMIC_YEAR'] + '.' +
                       adm_df['ACADEMIC_TERM'].str.title())
adm_df['Week_Number'] = adm_df['create_date'].dt.week

In [15]:
# convert ACADEMIC_YEAR to numeric keep numeric-valued records
adm_df['ACADEMIC_YEAR'] = pd.to_numeric(adm_df['ACADEMIC_YEAR'],
                                        errors='coerce', downcast='integer')
adm_df = adm_df.loc[adm_df['ACADEMIC_YEAR'].notnull()]

In [16]:
adm_week_number = (lambda r: (r['Week_Number'] -
                              (date(int(r['ACADEMIC_YEAR']), 9, 1)
                              .isocalendar()[1])
                              )
                   if (r['Week_Number'] > (date(int(r['ACADEMIC_YEAR']), 9, 1)
                                           .isocalendar()[1]))
                   else (53 + r['Week_Number'] -
                         (date(int(r['ACADEMIC_YEAR']), 9, 1)
                         .isocalendar()[1])
                         )
                   )

In [17]:
adm_df['Admissions_Week'] = adm_df.apply(adm_week_number, axis=1)

print('adm_df', adm_df.shape)
print('adm_df')
print(adm_df.dtypes)

adm_df (169029, 10)
adm_df
PEOPLE_CODE_ID              object
ACADEMIC_YEAR                int16
ACADEMIC_TERM               object
ACADEMIC_SESSION            object
field_name                  object
field_value                 object
create_date         datetime64[ns]
year_term                   object
Week_Number                  int64
Admissions_Week              int64
dtype: object

In [ ]:
adm_df.info()

In [ ]:
adm_df.head()

In [ ]:
adm_df.columns

In [ ]:
adm_df[(adm_df['year_term']=='2014.Fall') & (adm_df['PEOPLE_CODE_ID']=='P000026232')].head(30)

In [ ]:
print(adm_df['field_value'].value_counts().sort_index())
print(adm_df['field_value'].value_counts().sum())

In [18]:
adm_keep_values = ['300', 'ACC', 'ACXL', 'CANC', 'DEF', 'DEFR', 'DENY', 'DPAC',
                   'TRDP', 'TRPD', 'TRNS', 'WAIT']
adm_keep_cols = ['PEOPLE_CODE_ID', 'year_term', 'Admissions_Week',
                 'field_value']
adm_df = adm_df.loc[(adm_df['field_value'].isin(adm_keep_values)),
                    adm_keep_cols]

print('adm_df', adm_df.shape)
print('adm_df')
print(adm_df.dtypes)

adm_df (42973, 4)
adm_df
PEOPLE_CODE_ID     object
year_term          object
Admissions_Week     int64
field_value        object
dtype: object

In [ ]:
adm_df.head()

In [ ]:
adm_df[(adm_df['year_term']=='2014.Fall') & (adm_df['PEOPLE_CODE_ID']=='P000026232')].head(30)

In [19]:
# admissions status table
admission_status = {'300': 'Applied', 'ACC': 'Accepted', 'ACXL': 'Canceled',
                    'CANC': 'Canceled', 'DEF': 'Canceled', 'DEFR': 'Canceled',
                    'DENY': 'Canceled', 'DPAC': 'Deposited',
                    'TRDP': 'Deposited', 'TRPD': 'Deposited',
                    'TRNS': 'Accepted', 'WAIT': 'Accepted'}
adm_stat = pd.DataFrame(list(admission_status.items()),
                        columns=['field_value', 'admission_status'])

In [20]:
adm_df1 = (pd.merge(adm_df, adm_stat, on=['field_value'], how='left')
           .drop(['field_value'], axis=1)
           .drop_duplicates(['PEOPLE_CODE_ID', 'year_term', 'Admissions_Week',
                             'admission_status'])
           )

print('adm_df1', adm_df1.shape)
print('adm_df1')
print(adm_df1.dtypes)

adm_df1 (28178, 4)
adm_df1
PEOPLE_CODE_ID      object
year_term           object
Admissions_Week      int64
admission_status    object
dtype: object

In [ ]:
adm_df1.head()

In [21]:
adm_df1[(adm_df1['year_term']=='2014.Fall') & (adm_df1['admission_status']=='Deposited')].head(30)

      PEOPLE_CODE_ID  year_term  Admissions_Week admission_status
2728      P000013143  2014.Fall               49        Deposited
2730      P000013143  2014.Fall               53        Deposited
8256      P000026232  2014.Fall               36        Deposited
8559      P000026411  2014.Fall               39        Deposited
9819      P000027147  2014.Fall               34        Deposited
9872      P000027224  2014.Fall               40        Deposited
9899      P000027290  2014.Fall               42        Deposited
9900      P000027290  2014.Fall               23        Deposited
10205     P000027843  2014.Fall                8        Deposited
10309     P000028043  2014.Fall               37        Deposited
10312     P000028044  2014.Fall               30        Deposited
10317     P000028047  2014.Fall               32        Deposited
10439     P000028272  2014.Fall               32        Deposited
10510     P000028411  2014.Fall               44        Deposited
10524     P000028449  2014.Fall               26        Deposited
10596     P000028609  2014.Fall               13        Deposited
10811     P000028887  2014.Fall               33        Deposited
10843     P000028946  2014.Fall               33        Deposited
11129     P000029224  2014.Fall               38        Deposited
11146     P000029245  2014.Fall               42        Deposited
11155     P000029251  2014.Fall               32        Deposited
11378     P000029426  2014.Fall               18        Deposited
11406     P000029458  2014.Fall               34        Deposited
11427     P000029473  2014.Fall               23        Deposited
11613     P000029573  2014.Fall               35        Deposited
11650     P000029585  2014.Fall               42        Deposited
11678     P000029596  2014.Fall               31        Deposited
11707     P000029606  2014.Fall               37        Deposited
11710     P000029609  2014.Fall               37        Deposited
11713     P000029611  2014.Fall               22        Deposited

In [22]:
adm_df1[(adm_df1['year_term']=='2014.Fall') & (adm_df1['PEOPLE_CODE_ID']=='P000026232')].head(30)

     PEOPLE_CODE_ID  year_term  Admissions_Week admission_status
8254     P000026232  2014.Fall               21          Applied
8255     P000026232  2014.Fall               22         Accepted
8256     P000026232  2014.Fall               36        Deposited

In [24]:
adm_df1 = (adm_df1.sort_values(['year_term', 'PEOPLE_CODE_ID',
                                'Admissions_Week'])
           .drop_duplicates(['year_term', 'PEOPLE_CODE_ID',
                             'admission_status'],
                            keep='first')
           )

In [25]:
adm_df1[(adm_df1['year_term']=='2014.Fall') & (adm_df1['admission_status']=='Deposited')].head(30)

      PEOPLE_CODE_ID  year_term  Admissions_Week admission_status
2728      P000013143  2014.Fall               49        Deposited
8256      P000026232  2014.Fall               36        Deposited
8559      P000026411  2014.Fall               39        Deposited
9819      P000027147  2014.Fall               34        Deposited
9872      P000027224  2014.Fall               40        Deposited
9900      P000027290  2014.Fall               23        Deposited
10205     P000027843  2014.Fall                8        Deposited
10309     P000028043  2014.Fall               37        Deposited
10312     P000028044  2014.Fall               30        Deposited
10317     P000028047  2014.Fall               32        Deposited
10439     P000028272  2014.Fall               32        Deposited
10510     P000028411  2014.Fall               44        Deposited
10524     P000028449  2014.Fall               26        Deposited
10596     P000028609  2014.Fall               13        Deposited
10811     P000028887  2014.Fall               33        Deposited
10843     P000028946  2014.Fall               33        Deposited
11129     P000029224  2014.Fall               38        Deposited
11146     P000029245  2014.Fall               42        Deposited
11155     P000029251  2014.Fall               32        Deposited
11378     P000029426  2014.Fall               18        Deposited
11406     P000029458  2014.Fall               34        Deposited
11427     P000029473  2014.Fall               23        Deposited
11613     P000029573  2014.Fall               35        Deposited
11650     P000029585  2014.Fall               42        Deposited
11678     P000029596  2014.Fall               31        Deposited
11707     P000029606  2014.Fall               37        Deposited
11710     P000029609  2014.Fall               37        Deposited
11713     P000029611  2014.Fall               22        Deposited
11726     P000029617  2014.Fall               40        Deposited
11843     P000029738  2014.Fall               33        Deposited

In [26]:
adm_df1[(adm_df1['year_term']=='2014.Fall') & (adm_df1['PEOPLE_CODE_ID']=='P000026232')].head(30)

     PEOPLE_CODE_ID  year_term  Admissions_Week admission_status
8254     P000026232  2014.Fall               21          Applied
8255     P000026232  2014.Fall               22         Accepted
8256     P000026232  2014.Fall               36        Deposited

In [27]:
adm_df2 = (adm_df1.loc[(adm_df1['year_term'].isin(['2014.Fall', '2015.Fall']))]
           .reset_index()
           .set_index(['year_term', 'PEOPLE_CODE_ID', 'admission_status'])
           .drop(['index'], axis=1)
           .unstack(level=-1)
          )

print('adm_df2', adm_df2.shape)
print('adm_df2')
print(adm_df2.dtypes)

adm_df2 (3851, 4)
adm_df2
                 admission_status
Admissions_Week  Accepted            float64
                 Applied             float64
                 Canceled            float64
                 Deposited           float64
dtype: object

In [28]:
adm_df2.head()

                         Admissions_Week
admission_status                Accepted Applied Canceled Deposited
year_term PEOPLE_CODE_ID
2014.Fall P000010351                 NaN    37.0     47.0       NaN
          P000013143                48.0    46.0     53.0      49.0
          P000021911                 NaN    22.0     53.0       NaN
          P000026232                22.0    21.0      NaN      36.0
          P000026411                30.0    20.0      NaN      39.0

In [83]:
q = adm_df1.loc[(adm_df1['year_term']=='2014.Fall'), ['PEOPLE_CODE_ID', 'Admissions_Week', 'admission_status']]

In [46]:
print(q.shape)
q.head()

(3602, 3)

     PEOPLE_CODE_ID  Admissions_Week admission_status
2107     P000010351               37          Applied
2108     P000010351               47         Canceled
2726     P000013143               46          Applied
2727     P000013143               48         Accepted
2728     P000013143               49        Deposited

In [84]:
w = q.set_index(['PEOPLE_CODE_ID'])

In [85]:
print(w.shape)
w.head(30)

(3602, 2)

                Admissions_Week admission_status
PEOPLE_CODE_ID
P000010351                   37          Applied
P000010351                   47         Canceled
P000013143                   46          Applied
P000013143                   48         Accepted
P000013143                   49        Deposited
P000013143                   53         Canceled
P000021911                   22          Applied
P000021911                   53         Canceled
P000026232                   21          Applied
P000026232                   22         Accepted
P000026232                   36        Deposited
P000026411                   20          Applied
P000026411                   30         Accepted
P000026411                   39        Deposited
P000026596                   10          Applied
P000026596                   19         Accepted
P000026596                   53         Canceled
P000026627                    6          Applied
P000026627                   36         Canceled
P000026652                   18          Applied
P000026652                   36         Canceled
P000026950                   20         Canceled
P000027058                   39          Applied
P000027064                   31          Applied
P000027064                   52         Canceled
P000027066                   31          Applied
P000027066                   43         Canceled
P000027070                   31          Applied
P000027147                   15          Applied
P000027147                   19         Accepted

In [86]:
e = q.pivot('PEOPLE_CODE_ID', 'admission_status', 'Admissions_Week')
print(e.shape)
e.head(30)

(1677, 4)

admission_status  Accepted  Applied  Canceled  Deposited
PEOPLE_CODE_ID
P000010351             NaN     37.0      47.0        NaN
P000013143            48.0     46.0      53.0       49.0
P000021911             NaN     22.0      53.0        NaN
P000026232            22.0     21.0       NaN       36.0
P000026411            30.0     20.0       NaN       39.0
P000026596            19.0     10.0      53.0        NaN
P000026627             NaN      6.0      36.0        NaN
P000026652             NaN     18.0      36.0        NaN
P000026950             NaN      NaN      20.0        NaN
P000027058             NaN     39.0       NaN        NaN
P000027064             NaN     31.0      52.0        NaN
P000027066             NaN     31.0      43.0        NaN
P000027070             NaN     31.0       NaN        NaN
P000027147            19.0     15.0       NaN       34.0
P000027178             NaN      NaN      26.0        NaN
P000027207             NaN     29.0      24.0        NaN
P000027224            10.0     10.0       NaN       40.0
P000027290            49.0      1.0      31.0       23.0
P000027408            10.0      8.0      39.0        NaN
P000027430             NaN      NaN      26.0        NaN
P000027462             NaN     13.0      45.0        NaN
P000027467             NaN     18.0      53.0        NaN
P000027686             NaN      NaN      31.0        NaN
P000027837            35.0     28.0      53.0        NaN
P000027843             8.0     47.0       NaN        8.0
P000027876            36.0      NaN      47.0        NaN
P000027889             NaN      NaN      34.0        NaN
P000027893             NaN      NaN      34.0        NaN
P000027979             NaN      NaN      34.0        NaN
P000027990            14.0     13.0      47.0        NaN

In [ ]:
r = e.loc[((e['Applied']<=37) & (e['Canceled']>37))]
print(r.shape)
r.head(30)

In [ ]:
def f_applied(data_frame, n):
    f_week = (lambda df: 1 if ((df['Applied']<=n) & (df['Canceled']>n)) else 0)
    return data_frame.apply(f_week, axis=1)

r['1'] = f_applied(e,38)

print(r.shape)
r.head(30)

In [87]:
def f_applied(field, data_frame, n):
    f_week = (lambda df: 1 if ((df[field]<=n) & (df['Canceled']>n)) else 0)
    return data_frame.apply(f_week, axis=1)

In [149]:
data_frame = e
field='Applied'
weeks = range(1,54)
r = pd.DataFrame(np.zeros((data_frame.shape[0],53)), index=data_frame.index, columns=[f'{field}_{w:02d}' for w in weeks])
for w in weeks:
    r.loc[:,f'{field}_{w:02d}'] = f_applied(field, data_frame, w)

print(type(r))
print(r.shape)

<class 'pandas.core.frame.DataFrame'>
(1677, 53)

In [155]:
def fill_weeks(field, data_frame):
    weeks = range(1,54)
    r = pd.DataFrame(np.zeros((data_frame.shape[0],53)), index=data_frame.index, columns=[f'{field}_{w:02d}' for w in weeks])
    for w in weeks:
        r.loc[:,f'{field}_{w:02d}'] = f_applied(field, data_frame, w)
    
    return r

In [156]:
p = fill_weeks('Applied', e)

In [157]:
p.head()

,Applied_01,Applied_02,Applied_03,Applied_04,Applied_05,Applied_06,Applied_07,Applied_08,Applied_09,Applied_10,...,Applied_44,Applied_45,Applied_46,Applied_47,Applied_48,Applied_49,Applied_50,Applied_51,Applied_52,Applied_53
PEOPLE_CODE_ID,,,,,,,,,,,,,,,,,,,,,
P000010351,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
P000013143,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,0
P000021911,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
P000026232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000026411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [158]:

print(p.shape)
p.head(30)

(1677, 53)

,Applied_01,Applied_02,Applied_03,Applied_04,Applied_05,Applied_06,Applied_07,Applied_08,Applied_09,Applied_10,...,Applied_44,Applied_45,Applied_46,Applied_47,Applied_48,Applied_49,Applied_50,Applied_51,Applied_52,Applied_53
PEOPLE_CODE_ID,,,,,,,,,,,,,,,,,,,,,
P000010351,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
P000013143,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,0
P000021911,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
P000026232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000026411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000026596,0,0,0,0,0,0,0,0,0,1,...,1,1,1,1,1,1,1,1,1,0
P000026627,0,0,0,0,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
P000026652,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000026950,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027058,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027064,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,0,0
P000027066,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027070,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027147,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027178,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027224,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027290,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
P000027408,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
P000027430,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027462,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
P000027467,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
P000027686,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027837,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
P000027843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027876,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027889,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027893,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
P000027990,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0